/**
 * The custom style sheet for the basic interface.
 *
 *  Author: Russell Toris
 * Version: December 13, 2012
 */

body {
  background: #efefef; 
}

#interface {
  background: #404245;
  box-shadow: 5px 5px 5px #888;
  width: 1280px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 5px 5px;
}
