/**
 * The custom style sheet for the clickable world interface.
 *
 *  Author: Russell Toris
 * Version: April, 22 2013
 */

body {
  background: #404245; 
}

footer td, footer a {
	color: #101010 !important;
}

.interface {
  background: #C3C3C4;
  box-shadow: 5px 5px 5px #888;
  width: 1600px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0 0 5px 5px;
  padding: 5px;
}

.mjpeg-widget {
  width: 400px;
  height: 300px;
}

.scene {
  width: 1180px;
  height: 600px;
}

.recognize {
  font-size: 18px;
}